@media(max-width:1300px){
    .header_wrapper .menu-navbar-nav{
        width:auto;
    }
}
@media(max-width:1250px){
    .header_wrapper .menu-navbar-nav{
        margin:0 5px;
    }
    .header_wrapper .learn-more-btn{
        padding:12px 10px !important;
    }
    .banner_wrapper .banner-tittle{
        font-size: 50px;
    }
}
@media(max-width:1181px){
    .header_wrapper .nav-item .nav-link{
        font-size: 16px;
    }  
    }
 @media(max-width:1123px){
        .header_wrapper .nav-item .nav-link{
            font-size: 14px;
        }  

    }
@media(max-width:1065px){
    .header_wrapper .nav-item .nav-link{
        font-size: 12px;
    } 
    .header_wrapper .learn-more-btn{
        font-size: smaller !important;
    }

    }
    @media(max-width:991px){
        .header_wrapper .navbar-brand img{
            width: 180px;
        }
        .header_wrapper .navbar-toggler:focus{
            box-shadow:none;
        }
        .header_wrapper .menu-navbar-nav{
            text-align:center;
        }
        .header_wrapper .nav-item .nav-link{
             margin-top: 15px;
            font-size: 18px;
        }
        .header_wrapper .nav-item:last-child .nav-link{
            margin-bottom:20px;
         
        }
        .header_wrapper .learn-more-btn{
            padding: 12px 29px !important;
            margin: 5px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .header_wrapper .navbar-collapse{
            background: #fff;
        }
        .banner_wrapper .banner-tittle{
            font-size: 50px;
        }
        .about_wrapper .about_number{
            margin:20px auto;
        }
         .about_wrapper .innovate .row{
            flex-direction:column-reverse ;
        }  
        .free_trial .free_tittle{
            font-size: 24px;
         }
 
    }
    @media(max-width:767px){
        .banner_wrapper{
            padding:100px 0 100px;
            text-align: center;
        }
        .banner_wrapper .row{
            flex-direction:column-reverse ;
        }
        .banner_wrapper .learn-more-btn-section{
            justify-content: center;

        }
        .free_trial .free_tittle{
            font-size: 24px;
        }
        .faq_wrapper .accordion-button{
            font-size: 18px;
        }
        .footer_wrapper .footer_logo img{
            max-width:50%;
        }
      
    }
