
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #fff;
}
.learn-more-btn{
    background-color: #090b3c;
    font-size: 18px;
    color: #fff !important;
    padding: 12px 29px !important;
    border-radius: 10px;
    border: 2px solid #090b3c;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    display: inline-block;
    transition: 0.7s;

}
.btn-extra-header{
    color: #4c535d !important;
    background-color: transparent;
    border: 2px solid #4c535d ;

}

.header_wrapper .navbar{
    transition: all .2s linear;
}
.header_wrapper .navbar-brand img{
    max-width:210px;
    height:auto;
}
.header_wrapper .menu-navbar-nav{
    width: 70%;
    display: flex;
    justify-content: center;
}
.header_wrapper .nav-item{
    margin: 0 10px;
 }
.header_wrapper .nav-item .nav-link{
    font-weight: 700;
    font-size: 18px;
    color: #4c535d;
    line-height: 1; 

}
.header_wrapper .nav-item .nav-link.active{
    color: #12c4a0;
}
.header-scrolled{
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #fff;
    -webkit-shadow:0 4px 6px 0 rgba(12,0,46,0.5);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,0.5);
}
.header-scrolled .navbar-brand img{
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}
@keyframes animated{
    0%{
        width:210px;
    }
    50%{
        width: 200px;
    }
    100%{
        width:190px;
    }
}
.header-scrolled .nav-item .nav-link{
    font-size: 17px;

}
.banner_wrapper{
    display: flex;
    width: 100%;
    padding: 80px 0 100px;
    background:url(./img/bg.png) no-repeat;
    background-size:cover ;
    justify-content: center;
    align-items: center;
}
.banner_wrapper .banner-subtitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color:#5e5e72;
}
.banner_wrapper .banner-title{
    font-weight: 800;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color:#000;
}
.banner_wrapper .banner-title span{
    color:#12c4a0;
}
.banner_wrapper .banner-title-text{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 450px;
    color: #798089;

}
.banner_wrapper .learn-more-btn-section{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;

}
.banner_wrapper .header-img-section img{
    width:100%;
    animation:float 5s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform:translateY(0px)
    }
    50%{
        transform:translateY(20px)
    }
    100%{
        transform:translateY(0px)
    }
}
.clients{
    padding:80px 0 50px;
    background-color: #f2f7fa;
}

h2{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 40px;
    color:#798089;
}
.clients .digi{
    margin-top: 20px;
}
.about_wrapper{
    padding:100px 0 0;
}
.about_wrapper .about_number{
    font-size: 24px;
    font-weight:800;
    padding:4px 17px;
    border-radius: 10px;
    margin-bottom:25px;
    max-width:44px;
    color:#fff;
    background-color: #12c4a0;

}
.about_wrapper .about_title{
    font-size: 34px;
    font-weight: 800;
    line-height: 1.25;
    max-width:1000px;
    margin-bottom: 25px;
    color: #000;
}
.about_wrapper .about_text{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;
    max-width: 700px;
    color:#798089
}
.about_wrapper .innovate{
    background: #f2f7fa;
    padding: 80px 0;
}
.about_wrapper .projects{
    padding:30px 0;
}
.about_wrapper .projects h2{
    color: #ff5d2a;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 0;

}
.about_wrapper .projects p{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: #798089;

}
.features_wrapper{
    padding:100 0 80px;
    background: #f2f7fa;
}
.features_wrapper .features_subtitle{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #798089;

}
.features_wrapper .features_title{
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color:#000;
}
.features_wrapper h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000;
}
.features_wrapper .features_text{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    color: #798089;
}
.features_wrapper .ft-1{
    background: #fff6d6;
    padding: 40px;
    border-radius: 15px;

}
.features_wrapper .ft-1:before{
    content: url(./img/consultancy.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}
.features_wrapper .ft-2{
    background: #ebdcf9;
    padding: 40px;
    border-radius: 15px;

}
.features_wrapper .ft-2:before{
    content: url(./img/solutions.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-3{
    background: #ddf5fc;
    padding: 40px;
    border-radius: 15px;

}
.features_wrapper .ft-3:before{
    content: url(./img/simple.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-4{
    background: #dcf6e8;
    padding: 40px;
    border-radius: 15px;

}
.features_wrapper .ft-4:before{
    content: url(./img/deadline.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-5{
    background: #f8e4e1;
    padding: 40px;
    border-radius: 15px;

}
.features_wrapper .ft-5:before{
    content: url(./img/data.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-6{
    background: #fbffd4;
    padding: 40px;
    border-radius: 15px;

}
.features_wrapper .ft-6:before{
    content: url(./img/flexible.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}
.pricing_wrapper{
    padding:100px 0 0;
}
.pricing_wrapper .pricing_subtile{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #798089;
}
.pricing_wrapper .pricing_title{
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color:#000;
}
.pricing_wrapper .pricing_card{
    background-color: #fff;
    box-shadow:0 1px 20px rgb(0 0 0 / 15%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px 40px 45px 40px;
    border-radius:10px;
    text-align: center;
    margin-bottom: 30px;

}
.pricing_wrapper .pricing_card:hover{
    box-shadow: 0 2px 29px rgb(0 0 0 / 20%);
    z-index: 5;
    cursor: pointer;
}
.pricing_wrapper .pricing_period{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 0;
    color: #798089;
} 
.pricing_wrapper .pricing_card img{
    max-width: 75%;
}
.pricing_wrapper .pricing_rate{
    font-size: 34px;
    font-weight: 600;
    color: #000;
    line-height: 1.25;
   

}
.pricing_wrapper .pricing_text{
    font-size: 12px;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.pricing_wrapper .pricing_all_plan{
    text-align: center;
    width: 100%;
    display: flex;
    margin: 15px 0;
}
.pricing_wrapper .pricing_all_plan ul{
    width: 100%;
    list-style: none;
    padding-inline-start: 0;

}
.pricing_wrapper .pricing_all_plan li{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 5px;
    color: #4c535d;
}
.pricing_wrapper .pricing_all_plan li strike{
    color: #a0a0a0;
}
.pricing_wrapper .learn-more-btn{
    background: #12c4a0;
    border-color: #12c4a0;
}
.pricing_wrapper .features{
    box-shadow: 0 2px 40px rgb(0 0 0 / 5%);
    background-color: #fff;
    border: 5px solid #000;
   
}
.pricing_wrapper .pricing_ribbon{
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 0;
     left: 20; 
}
.pricing_wrapper .pricing_ribbon span{
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    text-transform: uppercase;
    text-align: center;
    top: 30px;
    right: -45px;
    transform: rotate(-45deg);

}
.pricing_wrapper .btn-features{
    background: #000;
    border-color: #000;
}
.pricing_wrapper .features .pricing_rate{
    font-size: 40px;
}
.free_trial{
    background: #f2f7fa;
    padding: 80px 0;
    margin-top: 100px;
}
.free_trial .free_title{
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 0;
    color: #000;
} 
.free_trial .learn-more-btn{
    background: #000;
    border-color: #000;
}
.free_trial .learn-more-btn .fa{
    font-size: 22px;
    color: #ffc100;
    margin-right: 5px;
    vertical-align: bottom;
}
.reviews_wrapper{
    padding:100px 0;
}
.reviews_wrapper .reviews_subtitle{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #5e5e72;
}
.reviews_wrapper .reviews_title{
    font-size: 34px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 80px;
    color: #000;

}
.reviews_wrapper .reviews_card{
    border-radius: 15px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 50px 40px rgb(0 0 0 / 15%);
}
.reviews_wrapper .reviews_card h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #000;
}
.reviews_wrapper .reviews_role{
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
    color: #12c4a0;
}
.reviews_wrapper .reviews_text{
    font-size: 15px;
    font-weight: 600px;
    line-height: 1.5;
}
.faq_wrapper{
    padding:100px 0 0;
    
}
.faq_wrapper .faq_subtitle{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #5e5e72;

}
.faq_wrapper .faq_title{
    font-size: 34px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 80px;
    color: #000;
}
.faq_wrapper .accordion-button{
    font-size: 21px;
    font-weight: 600;
    color: #000;
    background: #fff;
    padding: 0 0 15px 0;
    border-radius: 0;
    border-bottom: 0px solid #5e5e72;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.faq_wrapper .accordion-button:hover,
.faq_wrapper .accordion-button:focus{
    color: #12c4a0;
    box-shadow: none;
}
.faq_wrapper .accordion-body{
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding-bottom: 25px;
    line-height: 1.5;
}
.footer_wrapper{
    padding:100px 0 25px;
    background: url(./img/bg_footer.png) no-repeat;
    background-size: cover;
    background-color: #090b3c;
    color: #fff;
}
.footer_wrapper .footer_logo img{
    max-width: 30%;
}
.footer_wrapper .footer_text,.footer_wrapper .footer_text a{
    margin-top:30px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height:1.5;
    text-decoration: none;
}
.footer_wrapper .footer_title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 25px;
}
.footer_wrapper .footer_social_media_icon{
    padding-right: 30px;
    color: #fff;
    color: #fff;

}
.footer_wrapper .footer_credits{
    color: #fff;
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 30px;
}
.footer_wrapper .footer_credits a{
    color: #ffc100;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
